{% extends 'base.html' %}
{% load static %}
{% block title %}
paluwaa | about-us
{% endblock title %}

{% block "header" %}
    {% include 'header.html' %}
{% endblock "header" %}

{% block content %}
<!-- Content -->
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="bnr-inr bg-pt" style="background-image:url('/static/images/banner/about.jpg');">
        <div class="container">
            <div class="bnr-inr-entry">
                <h1>About Us</h1>
                <!-- Breadcrumb row -->
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a href="{% url 'add' %}">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
                <!-- Breadcrumb row END -->
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
        <div class="section-full content-inner bg-img-fix">
            <div class="container">
                <div class="row m-b30">
                    <div class="col-lg-4 col-md-12 align-self-center">
                        <h3 class="fw7">We're Leading The Way In Consulting Business For Over 25 Years</h3>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="icon-bx-wraper bx-style-1 p-tb30 p-lr20 m-b30 center br-col-b1">
                                    <h2 class="counter font-45">{{ days_of_experience }}</h2>
                                    <div class="icon-content">
                                        <h5 class="tilte fw5">Years Of Experience</h5>
                                        <p class="m-b0 font-14 font-baloo">Take a trivial example, which seds ever undertakes laborious.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="icon-bx-wraper bx-style-1 p-tb30 p-lr20 m-b30 center br-col-b1">
                                    <h2 class="counter font-45">{{ associate_partner }}</h2>
                                    <div class="icon-content">
                                        <h5 class="tilte fw5">Associates Partner</h5>
                                        <p class="m-b0 font-14 font-baloo">Take a trivial example, which seds ever undertakes laborious.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="icon-bx-wraper bx-style-1 p-tb30 p-lr20 m-b30 center br-col-b1">
                                    <h2>{{ actual_happy_student }}</h2>
                                    <div class="icon-content">
                                        <h5 class="tilte fw5">Happy Clients</h5>
                                        <p class="m-b0 font-14 font-baloo">Take a trivial example, which seds ever undertakes laborious.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-b30">
                    <div class="col-lg-12 col-md-12 col-sm-12 m-b30 font-patrick">
                        dau ma Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.
                        Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.Take a trivial example, which seds ever undertakes laborious.
                        Take a trivial example, which seds ever undertakes laborious.
                    </div>
                </div>
                <div class="row">
                    {% for data in aboutDatas %}
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="team-section">
                            <img src="{{ data.image.url }}"  alt="{{data.name}} width="500px" height="600px">
                            <div class="team-content text-white">
                                <p class="m-a0">{{data.title}}</p>
                                <h6 class="text-uppercase text-black m-b0">{{data.name}}</h6>
                                <div class="divider bg-white mt-2 mb-2"></div>
                                <!-- <ul class="list-inline m-a0">
                                    <li><a href="#" class="text-white"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="text-white"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" class="text-white"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" class="text-white"><i class="fa fa-twitter"></i></a></li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="team-section">
                            <img src="{% static 'images/our-team/pic1.jpg' %}"  alt="">
                            <div class="team-content text-white">
                                <p class="m-a0">Developer</p>
                                <h6 class="text-uppercase text-black m-b0">Darshan Thapa</h6>
                                <div class="divider bg-white mt-2 mb-2"></div>
                                <ul class="list-inline m-a0">
                                    <li><a href="#" class="text-white"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="text-white"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" class="text-white"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" class="text-white"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="team-section">
                            <img src="{% static 'images/our-team/pic1.jpg' %}"  alt="">
                            <div class="team-content text-white">
                                <p class="m-a0">Developer</p>
                                <h6 class="text-uppercase text-black m-b0">Bipul Karki</h6>
                                <div class="divider bg-white mt-2 mb-2"></div>
                                <ul class="list-inline m-a0">
                                    <li><a href="#" class="text-white"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="text-white"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" class="text-white"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" class="text-white"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="team-section">
                            <img src="{% static 'images/our-team/pic1.jpg' %}"  alt="">
                            <div class="team-content text-white">
                                <p class="m-a0">Management</p>
                                <h6 class="text-uppercase text-black m-b0">Anoj karki</h6>
                                <div class="divider bg-white mt-2 mb-2"></div>
                                <ul class="list-inline m-a0">
                                    <li><a href="#" class="text-white"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="text-white"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" class="text-white"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" class="text-white"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}

{% block "footer" %}
    {% include "footer.html" %}
{% endblock "footer" %}