{% load static %}
<footer class="daz-footer text-uppercase daz-footer-img">
    <div class="footer-top">
        <div class="container saf-footer">
            <div class="row">
                <div class="col-md-12 col-lg-4 col-sm-12 footer-col-4">
                    <div class="widget widget_getintuch">
                        <h5 class="m-b30 text-white ">Contact us</h5>
                        <ul class="font-patrick">
                            <li><i class="ti-location-pin"></i><strong>address</strong> ITAHARI, SUNSARI </li>
                            <li><i class="ti-mobile"></i><strong>phone</strong>025-572152</li>
                            <li><i class="ti-email"></i><strong>email</strong>info@gmail.com</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4 col-sm-6 col-5 footer-col-4">
                    <div class="widget widget_services border-0">
                        <h5 class="m-b30 text-white">Company</h5>
                        <ul class="font-patrick">
                            <li><a href="{% url 'add' %}">Home </a></li>
                            <li><a href="{% url 'about_us' %}">About Us </a></li>
                            
                            <li><a href="{% url 'contact_page' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4 col-sm-6 col-7 footer-col-4">
                    <div class="widget widget_services border-0">
                        <h5 class="m-b30 text-white">Useful Link</h5>
                        <ul class="font-patrick">
                            <li><a href="{% url 'search' %}">Search College</a></li>
                            <li><a href="{% url 'AppFormDetail' %}">Apply online</a></li>

                        </ul>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 text-center "> <p>Copyright © 2021 eStudyGarage</p> </div>
                <div class=" col-md-4 col-sm-12 text-center topbar-right topbar-social text-white">
                    <ul>
                        <li><a href="#" class="site-button circle-sm facebook hover"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="site-button circle-sm twitter hover"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="site-button circle-sm instagram hover"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="site-button circle-sm linkedin hover"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</footer>
<!-- Footer END-->
<button class="scroltop fa fa-chevron-up"></button>