{% extends 'base.html' %} {% load static %} 

{% block title %}
estudygarage | search
{% endblock title %}

{% block "header" %}
  {% include 'header.html' %}
{% endblock "header" %}

{% block content %}

<div class="container">
  <form method="GET" action="." class="form-row form-inline">
    <div class="form-group col-lg-2 col-md-4">
      <label for="country" class="form__item">Country</label>
      <select id="country" class="form-control" name="country">
        <option selected>Choose...</option>
        {% for country in countries %}
        <option value="{{ country }}">{{country}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-lg-2 col-md-4 ">
      <label for="city">City</label>
      <select id="city" class="form-control" name="city">
        <option selected>Choose...</option>
        {% for city in cities %}
        <option value="{{ city }}">{{ city }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-lg-2 col-md-4">
      <label for="university">University</label>
      <select id="university" class="form-control" name="university">
        <option selected>Choose...</option>
        {% for uni in university %}
        <option value="{{ uni }}">{{ uni }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-lg-2 col-md-4">
      <label for="program">Programs</label>
      <select id="program" class="form-control" name="programName">
        <option selected>Choose...</option>
        {% for pro in programs %}
        <option value="{{ pro }}">{{ pro }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-lg-2 col-md-4">
      <label for="subject">Subjects</label>
      <select id="subject" class="form-control" name="subject">
        <option selected>Choose...</option>
        {% for subject in subjects %}
        <option value="{{ subject }}">{{ subject }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-lg-2 col-md-4">
      <span class="input-group-btn" style="margin: 30px auto 9px 20px">
        {% comment %} <button name="submit" value="Submit" type="submit" class="site-button white radius-xl" style="border: 3px solid rgb(110, 255, 179);">SUBMIT</button>
       {% endcomment %}
       <button name="submit" type="submit" value="Submit"
											class="site-button outline outline-2 radius-xl button-md">
											<span>Submit</span> </button>
       </span>
    </div>
  </form>

  <hr />

  {% for qs in page_obj.object_list %}

  <div class="container bg-light p-2">
    <div class="row card-body product-box">
        <img class="col-4 col-sm-3 col-md-3 col-lg-2" src="{{ qs.university.uni_logo.url }}" style="height: 100px;" alt="{{qs.university.name}}">

        <div class="col-12 col-sm-8 col-md-5 col-lg-7">
            <div class=""><h2>{{qs.university.name}}</h2></div>
            <div class=""><b>{{qs.subject.name}}</b>, {{qs.country.name}}</div>
        </div>
        <div class="col-12 col-sm-6 col-lg-9 card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3"><dl><dd>Program Type</dd><dt>{{qs.program.name}}</dt></dl></div>
                <div class="col-12 col-sm-6 col-lg-3"><dl><dd>Duration</dd><dt>{{qs.duration}} year</dt></dl></div>
                <div class="col-12 col-sm-6 col-lg-3"><dl><dd>Annual tuition fee</dd><dt>{{qs.fee}}</dt></dl></div>
                <div class="col-12 col-sm-6 col-lg-3"><dl><dd>Intake</dd><dt>{{ qs.summer_intake_date|date:"F Y" }}</dt>
                                                                        <dt>{{qs.winter_intake_date|date:"F Y"}}</dt> </dl></div>
            </div>
        </div>
        <div class="col-12 col-sm-5 col-lg-3">
            <div class="row-cols container-fluid">
                <div class="col"><a class="btn btn-1 btn-outline-success rounded w-100" href=" {% url 'AppFormDetail' %}">Apply</a></div>
                <div class="col pt-2"><a class="btn btn2 btn-outline-warning rounded w-100" href="{{ qs.get_absolute_url }}">Details</a></div>
            </div>
        </div>
    </div>
  </div>
  
  {% empty %}
    <h2>Sorry, your selected query doesn't match with the data in database.</h2>
  {% endfor %}
</div>

{% if page_obj.has_other_pages %}
<div class="d-flex justify-content-center mt-4">
	{% if page_obj.has_previous %}
	<a class='btn btn-outline-danger rounded mb-4' href="?page=1">First</a>
	<a class='btn btn-outline-danger rounded mb-4' href="?page={{ page_obj.previous_page_number }}">Previous</a>
	{% endif %}

	{% for num in page_obj.paginator.page_range %}
	{% if page_obj.number == num %}
	<a class='btn btn-danger mb-4' href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class='btn btn-outline-danger mb-4'
		href="?page={{ num }}">{{ num }}</a>
	{% endif %}
	{% endfor %}

	{% if page_obj.has_next %}
		<a class='btn btn-outline-danger mb-4' href="?page={{ page_obj.next_page_number}}">Next</a>
		<a class='btn btn-outline-danger mb-4' href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}
</div>    
{% endif %}

{% endblock content %}

{% block "footer" %}
    {% include "footer.html" %}
{% endblock "footer" %}

